@import 'variables.scss';


.timer-tile {
	background: $cream;
	padding: 10px 15px;
	margin-bottom: 15px;
	border-radius: 8px;
	position: relative;
}
.timer-tile-container {
	background-color: $cream;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.timer-information {
	width: 60%;
}
.timer-information .title {
	font-size: 1.25em;
	line-height: 1.3;
	text-align: left;
	margin-bottom: 7px;
}
.timer-information .details {
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.15;
	font-size: 0.75em;
	text-align: left;
}
.timer-countdown {
	width: 40%;
}
.timer-countdown div {
	font-size: 1.85em;
	text-align: right;
}
.timers-container {
	background-color: $green;
}
.no-timers {
	color: $cream;
	letter-spacing: 0.15em;
}
