/* COLORS */

$blue: #05386B;
$green-blue: #379683;
$green: #5CDB95;
$pale-green: #8EE4AF;
$cream: #EDF5E1;
$box-shadow: rgba(0,0,0,0.24);


/* EFFECTS */

$hover-effect: 0 10px 14px 0 $box-shadow, 0 14px 30px 0 $box-shadow;
