.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.practice-styles {
  background-color: hsla(0, 100%, 50%, 0.3);
  color: black;
  width: 300px;
  height: 350px;
  padding-top: 10px;
}

.header {
  padding: 10px 0;
  border: 1px solid white;
  width: 70%;
  margin: 0 auto;
  box-shadow:5px 5px 15px hsla(0, 100%, 30%, 0.3);;
}

.reminder_set{
  padding: 10px 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reminder_set .reminder_button{
  width: 70%;
  padding: 10px 0;
  font-size: 14px;
  background: #EC9192;
  border: 1px solid white;
  cursor: pointer;
}
.reminder_set .reminder_form{
  text-align: left;
  width: 100%;
}
.reminder_set .reminder_save{
  margin: 0 15%;
}